<div class="px-3 pt-2 pb-0 w-100 day-container">
  <div class="text-center ps-2 day-box">
    <span>
      <strong>{{dateSelected.label.split(' ')[0].toUpperCase()}}</strong>
    </span>
    <span [ngClass]="getCurrentDay() ? 'numberCircle' : ''" class="number">
      {{dateSelected.label.split(' ')[1]}}
    </span>
  </div>
</div>
<mat-grid-list class="grid-list" cols="1" rowHeight="fit" gutterSize="0"> 
  <mat-grid-tile>
    <div class="d-flex h-100 w-100 overflow">
      <div class="width-50">

      </div>
      <div class="d-flex flex-column justify-content-start h-100 w-100">
        <div class="day d-flex flex-column p-0 pt-3">
          <div class="hour pe-2" *ngFor="let item of [].constructor(24); index as i">
            <div class="hours">
              {{(''+i).padStart(2, '0') + ':00'}}
            </div>
            <div (click)="openEvent(dateSelected.date, i)" class="hour-box">
              <div class="events w-100 align-self-start flex-grow-1 d-flex">
                <div *ngFor="let el of dateSelected.events" class="w-100 padding-bottom" [ngStyle]="{'padding-top': (+el.startHour.split(':')[1])/60*50+'px'}">
                  <div *ngIf="el.startHour.split(':')[0] == (''+i).padStart(2, '0')" class="event" [ngStyle]="{'background-color': el.color}">
                    <div [ngStyle]="{'height': calcEventHeight(el.startHour, el.endHour)}">
                      <div class="title-color" >{{el.title}}</div>
                      <div class="title-hours">{{el.startHour + '-' + el.endHour}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-event [visible]="eventOpen" [event]="event"></app-event>
