<div class="p-3 width-fit" style="position: fixed; width: 100%; background-color: white; z-index: 2;">
  <div class="text-center ps-2" style="width: fit-content; height: 50px;">
    <div>
      <strong>{{dateSelected.label.split(' ')[0].toUpperCase()}}</strong>
    </div>
    <div [ngClass]="getCurrentDay() ? 'numberCircle' : ''">
      {{dateSelected.label.split(' ')[1]}}
    </div>
  </div>
</div>
<mat-grid-list cols="1" rowHeight="fit" gutterSize="0"> 
  <mat-grid-tile>
    <div class="d-flex h-100 w-100 overflow">
      <div class="width-50">

      </div>
      <div class="d-flex flex-column justify-content-start h-100 w-100 spacing">
        <div class="day d-flex flex-column p-0" style="margin-top: 90px;">
          <div class="hour pe-2" *ngFor="let item of [].constructor(24); index as i">
            <div class="hours">
              {{(''+i).padStart(2, '0') + ':00'}}
            </div>
            <div (click)="openEvent(dateSelected.date, i)" style="width: 100%; height: 100%; z-index: -1;">
              <div class="events w-100 align-self-start flex-grow-1 d-flex">
                <div *ngFor="let el of dateSelected.events" class="w-100" style="padding-bottom: 1px;" [ngStyle]="{'padding-top': (+el.startHour.split(':')[1])/60*50+'px'}">
                  <div *ngIf="el.startHour.split(':')[0] == (''+i).padStart(2, '0')" class="event" id="event" [ngStyle]="{'background-color': el.color}" style="border: 1px solid white; z-index: 10000; width:100%; cursor: pointer; font-weight: 500; font-size: 12px; color: black; border-radius: 10px; padding: 2px 10px; line-height: 100%;">
                    <div [ngStyle]="{'height': calcEventHeight(el.startHour, el.endHour)}" style="z-index: 1;">
                      <div style="color: rgb(54, 53, 53);" >{{el.title}}</div>
                      <div style="color: rgb(96, 96, 96); font-size: 11px;">{{el.startHour + '-' + el.endHour}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-event [visible]="eventOpen" [event]="event"></app-event>
