
<div class="d-flex overflow">
  <div class="width-50">
  </div>
  <mat-grid-list cols="7" rowHeight="fit" gutterSize="0" class="d-flex" class="overflow-visible"> 
    <mat-grid-tile *ngFor="let item of days; index as i" class="overflow-inherit">
      <div class="d-flex flex-column align-items-center justify-content-start h-100 w-100 spacing">
        <div [ngClass]="getCurrentDay(item) ? 'numberCircle' : ''" class="text-center date p-2" [routerLink]="['/day', item.date.getDate() + '-' + item.date.getMonth() + '-' + item.date.getFullYear()]">
          <div>
              <strong>{{i < 7 ? item.label.split(' ')[0].toUpperCase() : ''}}</strong>
            </div>
            <div>
              {{item.label.split(' ')[1]}}
            </div>
        </div>
        <div class="hours d-flex flex-column">
          <div class="hour pe-2" *ngFor="let el of [].constructor(24); index as r" (click)="openEvent(item.date, r)">
            <div class="time" *ngIf="i==0">
              {{(''+r).padStart(2, '0') + ':00'}}
            </div>
            <div class="events w-100 align-self-start d-flex pe-2 overflow">
              <div *ngFor="let el of item.events" class="w-100" [ngStyle]="{'padding-top': (+el.startHour.split(':')[1])/60*50+'px'}">
                <div *ngIf="el.startHour.split(':')[0] == (''+r).padStart(2, '0')" class="event" [ngStyle]="{'background-color': el.color}">
                  <div [ngStyle]="{'height': calcEventHeight(el.startHour, el.endHour)}" (click)="openEvent(el.date, r, el); $event.stopPropagation();">
                    <div class="title-color">{{el.title}}</div>
                    <div class="title-hours">{{el.startHour + '-' + el.endHour}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-event *ngIf="eventOpen" (onSave)="saveEvent($event)" (delete)="deleteEvent($event)" (close)="eventOpen = false" [event]="event"></app-event>

