mat-grid-list {
  height: calc(100vh - 60px);
  width: 100vw;
}

mat-grid-tile {
  border: .5px solid rgb(218,220,224);

  &:hover{
    background-color: rgba(237, 237, 237, .5);
  }
}

.spacing {
  padding: 10px 10px;
}

.numberCircle {
  color: white !important;
  background-color: rgb(74, 74, 255);
}

.example-full-width {
  max-width: 30%;
  width: 20%;
}

.events::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.events {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow {
  overflow: auto;
}

.day {
  cursor: pointer;
  color: #70757a;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  &:hover{
    background-color: lightgray;
    color: #70757a !important;
  }
}

.week-day {
  color: #636669;
  font-size: 12px; 
  font-weight: 500;
}

.event {
  width:100%; 
  cursor: pointer; 
  font-weight: 500; 
  font-size: 12px; 
  color: black; 
  border-radius: 10px; 
  padding: 5px 10px; 
  height: 20px; 
  line-height: 100%;
  border: 1px solid white;
  &:hover {
    transform: scale(0.98);
  }
}