mat-grid-list {
  height: calc(100vh - 60px);
  width: 100vw;
}

mat-grid-tile {
  border: .3px solid lightgray;

  &:hover{
    background-color: rgba(237, 237, 237, .5);
  }
}

.spacing {
  padding: 10px 0;
}

.numberCircle {
  font-weight: bold;
  text-decoration: underline;
}

.example-full-width {
  max-width: 30%;
  width: 20%;
}