mat-grid-list {
  height: calc(100vh - 60px);
  width: 100vw;
}

mat-grid-tile {
  border: .3px solid lightgray;

  &:hover{
    background-color: rgba(237, 237, 237, .5);
  }
}

.spacing {
  padding: 10px 10px;
}

.numberCircle {
  font-weight: bold;
  text-decoration: underline;
}

.example-full-width {
  max-width: 30%;
  width: 20%;
}

.events::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.events {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.day {
  cursor: pointer;
  &:hover{
    background-color: lightgray;
  }
}